name: Update LostArk Ranking

on:
  push:                   # [추가됨] 파일 수정(Push)이 일어나면 즉시 실행!
    branches: [ "main" ]
  schedule:
    - cron: '0 */1 * * *' # 1시간마다 자동 실행
  workflow_dispatch:      # 수동 실행 버튼 활성화

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests
          
      - name: 라이브러리 설치
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run script to generate HTML
        env:
          LOA_API_KEY: ${{ secrets.LOA_API_KEY }}
        run: python update_rank.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add index.html
          git commit -m "Update ranking" || echo "No changes to commit"
          git push
